#Match {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

#Bingo {
    width: 80%;
}

@media screen and (max-width: 600px) {
    #Bingo {
        width: 95%;
    }
}

#HeaderRanking {
    display: flex;
    padding: 2px;
}

#HeaderWrapper{
    width: 100%;
}

#HeaderInnerWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222;
    padding-left: 0;
    padding-right: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

#Header {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #aaa;
}

.gridItem > button {
    width: 100%;
    font-size: 1vw;
    word-break: break-word;
}

#MatchWinnerTitle {
    display: flex;
    justify-content: center;
    align-items: center;
}

#ExitMatchButton {
    width: 100%;
}

.frog {
    margin-right: 10px;
}

.feed-wrapper {
    width: 100%;
}

.feed {
    bottom: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    height:200px;
    margin: 10px;
    background-color: #d32f2f1c !important;
    justify-content: space-between;
}

.messages {
    bottom: 10px;
    text-align: center;
    height: 100px;
    opacity: 0.8;
    overflow-y: scroll;
    display: flex;
    flex-direction: column-reverse;
    padding: 10px !important;
}

.input-chat {
    padding: 10px !important;
    display: flex;
}

.input-chat > div {
    width: calc(100% - 20px);
}

.input-chat > button {
    margin-left: 10px;
    min-width: 100px;
}

.chat-message-selected-word {
    color: #d32f2f;
}

.chat-message-prize-line {
    color: #188739;
}

.ranking-cards {
    background-color: #222 !important;
    color: #aaa !important;
}

.ranking-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px !important;
}

.ranking-info-words {
    color: #d32f2f !important;
}