#Match {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

#Bingo {
    width: 80%;
}

#Header {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #aaa;
}

@media screen and (max-width: 600px) {
    #Bingo, #Header {
        width: 95%;
    }
}

#HeaderRanking {
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

#HeaderWrapper{
    width: 100%;
}

#HeaderInnerWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222;
    padding-left: 0;
    padding-right: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

.gridItem {
    align-items: stretch;
    display: flex;
}

.gridItem > button {
    width: 100%;
    font-size: 1vw;
    word-break: break-word;
    padding: 5px;
}

@media screen and (max-width: 1000px) {
    .gridItem > button {
        width: 100%;
        font-size: 1.5vw;
        word-break: break-word;
    }
}

@media screen and (max-width: 600px) {
    .gridItem > button {
        width: 100%;
        font-size: 2vw;
        word-break: break-word;
    }
}

#MatchWinnerTitle {
    display: flex;
    justify-content: center;
    align-items: center;
}

#ExitMatchButton {
    width: 100%;
}

.frog {
    margin-right: 10px;
}

.feed-wrapper {
    width: 100%;
}

.feed {
    bottom: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    height:200px;
    margin: 10px;
    background-color: #d32f2f1c !important;
    justify-content: space-between;
}

.messages {
    bottom: 10px;
    text-align: center;
    height: 100px;
    opacity: 0.8;
    overflow-y: scroll;
    display: flex;
    flex-direction: column-reverse;
    padding: 10px 10px 0 10px !important;
    margin-top: 10px;
    flex-grow: 1;
}

.input-chat {
    padding: 10px !important;
    display: flex;
}

.input-chat > div {
    width: calc(100% - 20px);
}

.input-chat > button {
    margin-left: 10px;
    min-width: 100px;
}

.chat-message {
    text-align: start;
}

.chat-message-user {
    font-weight: bold;
    margin-right: 5px;
}

.chat-message-selected-word {
    text-align: start;
    color: #d32f2f;
}

.chat-message-prize-line {
    text-align: start;
    color: #188739;
}

.ranking-cards {
    background-color: #d32f2f1c !important;
    color: #222 !important;
    margin-right: 5px;
}

.ranking-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px !important;
}

.explanation {
    margin: 10px
}

.explanation-words {
    color: #d32f2f;
}

.explanation-lines {
    color: #188739;
}

.explanation-bingo {
    color: #a98e14;
}