#Game {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.alertJoin {
    top: 10px;
    position: fixed;
}

.version {
    color: gray;
    font-size: small;
}

.settings-wrapper {
    margin-bottom: 10px;
    color: #aaa;
    display: flex !important;
    justify-content: space-between;
}

.settings-wrapper > svg {
    float: right;
    cursor: pointer;
}